body {
background-color: #000030;
color: #dddddd;
margin: 0;
padding: 0;
line-height:1.4;
}

a{
    color:#aaddaa;
    font-style:normal;
    text-decoration:underline;
}

.top{
background-color: #503080;
}

#edit{
      display: none;
}
