body {
    background-color: #000030;
    color: #dddddd;
    margin: 0;
    padding: 0;
    font-size: 15px;
    -webkit-appearance: none;
    text-align: center;
}

a{
    color:#aaddaa;
    font-style:normal;
    text-decoration:underline;
}

#header{
    margin-bottom: 2em;
}

.text{
    border-radius: 3px;
    margin: 0.3em 0;
    font-size: 1.2em;
}

.button{
    background-color: #CCC;
    -webkit-appearance: none;
    font-size: 1em;
    padding: 0.3em 1em;
}

.list{
    font-size: 1.2em;
    margin: 1em 15% 3em;
    width: 70%;
}
@media screen and (min-width: 1000px) {
    .list{
        margin: 1em 35% 3em;
        width: 30%;
    }
}

.room{
    text-align: left;
    display: list-item;
    list-style-type: none;
    text-decoration: underline;
    color: #aaddaa;
    margin: 0.5em;
    font-size: 1.1em;
}

.edit{
    display: none;
}

#input{
    padding: 1em;
}

hr{
    margin: 1em;
}

.notice{
    margin: 0 1em;
    font-weight: bold;
}