<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title is not null %}
            {{title}}
        {% else %}
            Onset!
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    {% block head_extends %}{% endblock %}
    <link rel="stylesheet" href="/css/top.css">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
