body{
    background-color: #000030;
    color: #ddd;
}

.header{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #ccc;
}

.form-group{
    padding: 1em;
}

.form-control{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: auto;
    resize: none;
}

.edit{
    display: none;
}

.send{
    background-color: #7c7;
}

.del{
    background-color: #f99;
}

.notice{
    font-weight: bold;
    text-decoration: underline;
}