body{
    background-color: #000030;
    color: #ddd;
}

.header{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #ccc;
}

.form-group{
    padding: 0 1em;
}

.form-control{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.3em;
    width: auto;
    resize: none;
}

.edit{
    display: none;
}

.send{
    background-color: #7c7;
    padding: 0.4em 1em;
}

.del{
    background-color: #f99;
    padding: 0.4em 1em;
}

.notice{
    font-weight: bold;
    text-decoration: underline;
}

.room{
    color: #aaddaa;
    text-decoration: underline;
}

.chat-obj{
    margin-bottom: 0.1em;
    padding-bottom: 0.1em;
    border-bottom: solid 1px #ccc;
}

.chat-dice{
    font-style: italic;
}